In [2]:
import pandas as pd
df = pd.read_csv('data/Recurrence free survival in breast cancer patients.csv')
df

      id  treat  age  men  size  grade  nodes  prog  oest  time  status
0      1      0   70    2    21      2      3    48    66  1814       1
1      2      1   56    2    12      2      7    61    77  2018       1
2      3      1   58    2    35      2      9    52   271   712       1
3      4      1   59    2    17      2      4    60    29  1807       1
4      5      0   73    2    35      2      1    26    65   772       1
..   ...    ...  ...  ...   ...    ...    ...   ...   ...   ...     ...
681  682      0   49    1    30      3      3     1    84   721       0
682  683      1   53    2    25      3     17     0     0   186       0
683  684      0   51    1    25      3      5    43     0   769       1
684  685      0   52    2    23      2      3    15    34   727       1
685  686      0   55    2    23      2      9   116    15  1701       1

[686 rows x 11 columns]

In [3]:
DatOriginal = DatOriginal.sort_values("status").reset_index(drop=True)

NameError: name 'DatOriginal' is not defined

In [ ]:
from lifelines import KaplanMeierFitter
kmf = KaplanMeierFitter()
kmf.fit(df['time'], event_observed=df['status'])
kmf.survival_function_

In [ ]:
kmf.plot_survival_function()

In [ ]:
from lifelines import NelsonAalenFitter
naf = NelsonAalenFitter(nelson_aalen_smoothing=False)
naf.fit(df['time'], event_observed=df['status'])
naf.cumulative_hazard_

In [ ]:
naf.plot_cumulative_hazard()

In [ ]:
from lifelines import ExponentialFitter
exf = ExponentialFitter().fit(df['time'], df['status'])
exf.plot_survival_function(label='ExponentialFitter survival')
exf.plot_cumulative_hazard(label='ExponentialFitter cumulative hazard')

In [ ]:
from lifelines import WeibullFitter
wbf = WeibullFitter().fit(df['time'], df['status'], label='WeibullFitter')
wbf.plot_survival_function(label='WeibullFitter survival')
wbf.plot_cumulative_hazard(label='WeibullFitter cumulative hazard')

In [ ]:
kmf.plot_survival_function()
exf.plot_survival_function(label='ExponentialFitter survival')
wbf.plot_survival_function(label='WeibullFitter survival')

In [ ]:
print('Exponential model: ', exf.AIC_)
print('Weibull model: ', wbf.AIC_)

In [ ]:
from lifelines import CoxPHFitter
cph = CoxPHFitter()
cph.fit(df[['id', 'treat', 'age', 'men', 'size', 'grade', 'nodes', 'prog', 'oest', 'time', 'status']], duration_col='time', event_col='status')
cph.print_summary(3)
cph.plot()

In [ ]:
cph.predict_survival_function(df.iloc[:10]).plot()

In [ ]:
cph.predict_expectation(df)

In [ ]:
cph.predict_median(df)

# Weibull AFT

In [ ]:
from lifelines import WeibullAFTFitter
weibull_aft = WeibullAFTFitter()
weibull_aft.fit(df, duration_col='time', event_col='status')
weibull_aft.print_summary(3)

In [ ]:
print(weibull_aft.median_survival_time_)
print(weibull_aft.mean_survival_time_)

In [ ]:
import matplotlib.pyplot as plt

plt.subplots(figsize=(10, 6))
weibull_aft.plot()

In [ ]:
weibull_aft.predict_survival_function(df.iloc[:10]).plot()